global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:9999
    default_backend servers

backend servers
    balance roundrobin
    server api1 unix@/tmp/api1/go-api.sock check
    server api2 unix@/tmp/api2/go-api.sock check
