global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:9999
    default_backend servers

backend servers
    balance roundrobin
    option httpchk GET /ready
    server api1 /tmp/api1.sock check inter 2s fall 3 rise 1
    server api2 /tmp/api2.sock check inter 2s fall 3 rise 1
